In [232]:
import pandas as pd
import numpy as np
from scipy import stats

TESTS:
Dependent t Test            t = stats.ttest_rel(sample1,sample2), p_value = 2*(1-stats.t.cdf(t, df)
(One group, before-after)

Independent Sample t Test   t = stats.ttest_ind(sample1, sample2), p_value = 2*(1 - stats.t.cdf(t, df))  
(Independent two group)

One way ANOVA f Test        t = stats.f_oneway(sample1, sample2, ..), p_value = 1 - stats.f.cdf(t, df1, df2)
(for 2 or more group)

EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an Î± = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

1- ASSUMPTIONS:
- Small sample group (t test)

In [2]:
M = 13.20
sigma = 2.50
n = 40   #(Z test)
mu = 12.20
aplha = .01

2- HYPOTHESIS: 
H0 : M = 13.20
Ha : M < 13.20  (One-tail hypotesis) (Left tail)

3- TEST STATISTIC:

In [3]:
z = (mu - M) / (sigma / np.sqrt(n))
z

-2.5298221281347035

4- P_value:

In [4]:
p_value1 = stats.norm.cdf(z)
p_value1

0.005706018193000826

5- Conclusion:

In [21]:
alpha = 0.01

if p_value1 < alpha :
    print("'Reject the null.' At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis. This company can be accused of paying substandard wages.")
else : 
    print("'Fail to reject the null.' At the 0.01 significance level, we don't have sufficient evidence to reject the H0 hypothesis. This company cannot be accused of paying substandard wages.")

'Reject the null'. At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis. This company can be accused of paying substandard wages.

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [5]:
df_soil = pd.read_csv("soil - Sheet1.csv")
df_soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

1- ASSUMPTIONS:
Independent 2 groups     (Independent t-Test)

In [6]:
alpha = 0.01

In [109]:
#df_soil.Soil1.isnull().sum()

5

In [110]:
#df_soil.Soil2.isnull().sum()

0

In [7]:
soil1_n = df_soil.Soil1[df_soil.Soil1.notnull()]

In [61]:
n1 = len(soil1_n)
n1

30

In [62]:
n2 = len(df_soil.Soil2)
n2

35

In [63]:
#mu1 = df_soil.Soil1.mean()
#mu1

1.6918

In [64]:
#mu2 = df_soil.Soil2.mean()
#mu2

1.4171142857142855

In [65]:
#s1 = np.sqrt(df_soil.Soil1.var())
#s1

0.20690284243310078

In [66]:
#s2 = np.sqrt(df_soil.Soil2.var())
#s2

0.2191842860711146

2- HYPOTHESIS:
H0 : M1 = M2
H1 : M1 != M2    (Two tail test)

3- TEST STATISTIC:

In [68]:
ind_soil = stats.ttest_ind(soil1_n, df_soil.Soil2)
ind_soil

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [69]:
t = ind_soil.statistic
t

5.1681473319343345

4- P_value:

In [18]:
df = n1 + n2 - 2
df

63

In [19]:
p_value = 2 * (1 - stats.t.cdf(t, df))
p_value

2.59322873219503e-06

5- CONCLUSION: 
p_value < alpha

In [103]:
alpha = 0.01

if p_value < alpha :
    print("'Reject the null.' At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis.")
else :
    print("'Fail to reject the null.' At the 0.01 significance level, we don't have sufficient evidence to reject the H0 hypothesis.")

'Reject the null.' At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis.

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

    Get descriptive statistics (the central tendency, dispersion and shape of a datasetâs distribution) for each continent group (AS, EU, AF, NA, SA, OC).
    Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [233]:
df_pisa = pd.read_csv("2015 PISA Test - Sheet1.csv")
df_pisa.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

1- ASSUMPTIONS: 
 Independent 2 groups (Independent t-Test)

In [134]:
#df_pisa[df_pisa.Continent_Code == "EU"]["Math"].isnull().sum()

0

In [135]:
#df_pisa[df_pisa.Continent_Code== "AS"]["Math"].isnull().sum()

0

In [137]:
n1 = len(df_pisa[df_pisa.Continent_Code == "EU" ])
n1

37

In [138]:
n2 = len(df_pisa[df_pisa.Continent_Code == "AS"])
n2

17

In [139]:
#mu1 = (df_pisa[df_pisa.Continent_Code == "EU"])["Math"].mean()
#mu1

477.98144864864867

In [140]:
#mu2 = (df_pisa[df_pisa.Continent_Code == "AS"])["Math"].mean()
#mu2

466.2166470588236

In [141]:
#std1 = np.sqrt(df_pisa[df_pisa.Continent_Code == "EU"]["Math"].var())
#std1

35.15040262727062

In [142]:
#std2 = np.sqrt(df_pisa[df_pisa.Continent_Code == "AS"]["Math"].var())
#std2

64.3564901327764

2- HYPOTHESIS:

H0 : M1 = M2
Ha : M1 != M2  (Two tail test)

3- TEST STATISTIC:

In [143]:
ind_pisa = stats.ttest_ind(df_pisa[df_pisa.Continent_Code == "EU"]["Math"], df_pisa[df_pisa.Continent_Code == "AS"]["Math"])
ind_pisa

Ttest_indResult(statistic=0.870055317967983, pvalue=0.38826888111307345)

In [144]:
t_pisa = ind_pisa.statistic
t_pisa

0.870055317967983

4- P_value:

In [145]:
df = n1 + n2 - 2
df

52

In [146]:
p_value = ind_pisa.pvalue
p_value

0.38826888111307345

In [147]:
p_value = 2  * (1 - stats.t.cdf(t_pisa, df))
p_value

0.38826888111307345

5- CONCLUSION:

In [148]:
alpha = 0.05   #Default
if p_value < alpha :
    print("'Reject the null.' At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis.")
else :
    print("'Fail to reject the null.' At the 0.01 significance level, we don't have sufficient evidence to reject the H0 hypothesis.")

'Fail to reject the null.' At the 0.01 significance level, we don't have sufficient evidence to reject the H0 hypothesis.

EXERCISE 4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

Sample Dataset 2014

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

In [260]:
df_sample = pd.read_csv("students_2014 - students_2014.csv")
df_sample.head()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,NaN,NaN,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1/1/1995,NaN,NaN,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,12/31/1994,NaN,NaN,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,12/1/1994,NaN,NaN,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,11/10/1994,NaN,NaN,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0

1- ASSUMPTIONS: 
Dependent 1 groups (Dependent t-Test)

In [267]:
df_new = df_sample[["English", "Math"]]
df_new

     English   Math
0      88.24  60.02
1      89.45  70.19
2      96.73  71.20
3      74.06  55.89
4      82.61  65.52
..       ...    ...
430    87.72  65.31
431    91.01  70.25
432    81.05  58.16
433    75.59  66.84
434    75.65  60.24

[435 rows x 2 columns]

In [268]:
df_new.isnull().sum()

English    26
Math       13
dtype: int64

In [285]:
df_new.dropna(inplace=True)
df_new

<ipython-input-285-3aa6a836b0f9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.dropna(inplace=True)

     English   Math
0      88.24  60.02
1      89.45  70.19
2      96.73  71.20
3      74.06  55.89
4      82.61  65.52
..       ...    ...
430    87.72  65.31
431    91.01  70.25
432    81.05  58.16
433    75.59  66.84
434    75.65  60.24

[398 rows x 2 columns]

In [256]:
df_new.English.isnull().sum()

0

In [273]:
n1 = len(df_new.English)
n1

398

In [274]:
n2 = len(df_new.Math)
n2

398

2- HYPOTHESIS:

H0 : M1 = M2
Ha : M1 != M2  (Two tail test)

3- TEST STATISTIC:

In [289]:
ind_sample = stats.ttest_rel(df_new.English, df_new.Math)
ind_sample

Ttest_relResult(statistic=36.312568981719856, pvalue=3.0710987192210606e-128)

In [290]:
t = ind_sample.statistic
t

36.312568981719856

4- P_value:

In [291]:
ind_sample.pvalue

3.0710987192210606e-128

In [292]:
df = n1 + n2 - 2
df

794

In [293]:
p_value =  2 * (1 - stats.t.cdf(t, df))
p_value

0.0

5- CONCLUSION:

In [294]:
alpha = 0.05   #Default
if p_value < alpha :
    print("'Reject the null.' At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis.")
else :
    print("'Fail to reject the null.' At the 0.01 significance level, we don't have sufficient evidence to reject the H0 hypothesis.")

'Reject the null.' At the 0.01 significance level, we have sufficient evidence to reject the H0 hypothesis.